body {
    background-color: #1c1b1b;
    font-family: Arial, sans-serif;
}

.textosmarrons {
    color: #c9a994;
    background-color: #3f2a1e;
    padding: 30px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    text-align: justify;
}

h3 {
    text-align: center;
}

header {
    background-color: #343c28;
    padding: 30px;
    text-align: center;
}

h1, h2 {
    color: #7C7960;
}

img {
    width: 400px;
    height: auto;
    margin: 15px auto;
    border-radius: 10px;
    align-items: center;
    display: block;
}

a {
    color: #343c28;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    list-style-type: none;
}

button {
    background-color: #7C7960;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 7px;
}

ul, ol {
    list-style-type: none;
}

footer {
    background-color: #986e52;
    color: #3f2a1e;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    color: #7C7960;
    background-color: #3f2a1e;
    border-radius: 5px;
}

table {
    margin: 20px auto;
    justify-content: center;
}

.coluna {
  display: flex;
  gap: 20px; 
}

.coluna .textosmarrons {
  flex: 1; 
}

.formulario {
    background-color: #3f2a1e;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
}

.dados {
    background-color: #986e52;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px; 
}

#enviar {
    background-color: #7C7960;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 7px;
}